@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600;1,800;1,900&family=Roboto:ital,wght@0,300;1,100&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    background-color: #EDDBC0;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE7CC;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    padding: 20px;
    margin: 5px;
    gap: 20px;
    column-gap: 30px;
    flex-flow: row wrap;
}

.promo{
    position: fixed;
    bottom: 0;
    right: 0%;
}
.promo button{
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    background-color:#FFE7CC;
    font-size: 15px;
    font-weight: bold;
    color: #3C2317;
}
.promo button:hover {
    background-color:#FFE7CC;
    color: #3C2317;
    border-color: #000;
}

.li-nav-items li {
    list-style: none;
}
.header-content h1{
font-family: 'Roboto', sans-serif;
font-size: 100px;
font-weight: bolder;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}
.mapouter{
    position:relative;
    text-align:right;
    height:100%;
    width:100%;
}
.li-nav-items li a {
    text-decoration: none;
    color: #3C2317;
    font-weight: bold;
    font-size: 18px;
}
.create-post-btn{
    background-color: #FFD384;
    padding: 6px 20px;
    color: #ffffff;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
}
nav ul li{
        padding: 3px;
}
.header-content h1{
    font-size: 5rem;
    padding: 10px;
    color: #000;
    margin-top: 220px;
}
.li-nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}
nav img{
    margin: 4px;
    width: 100PX;
}
header{
    display: flex;
    min-height: 80vh;
    justify-content: center;
    align-items: flex-start;
    background-size: cover;
    background: url("../img/BG.jpg");
}
.header-content{
    text-align: center;
    padding: 10px;
}
.header-content a{
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid;
    border-color: black;
    background-color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    color: #333;
}
header > div p{
    margin: 40px;
}
p{
    margin-bottom: 1.5rem;
    color: #14213d;
    line-height: 1.4rem;
}
/*MORE ON CONTENT*/
/* MAIN CONTENT */
.container-flex{
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* center content in container*/
    max-width: 1900px;
}
main{
    padding: 10px;
}
.post-content{
    padding: 10x;
    display: flex;
    flex-direction: column;
}
.post-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #14213d;
}
.post-author{
    margin: 15px;
}
aside{
    padding: 10px;
}
.about-me{
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0,0,0.3);
}
.about-me img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.post-content h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #14213d;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-text{
    color: #ffbe0b;
    font-size: 3.5rem;
    font-weight: bold;
}
.logo-text ~ span{
    color: #fff;
}
footer{
    padding: 30px;
    background-color: #181818;
    color: #fff;
}
.about p{
   color: #8d99ae; 
   text-align: center;
}
footer .contact i{
    font-size: 30px;
    padding: 10px;
}
.socials a{
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #FFF6BF;
}
.contact a{
    text-decoration: none;
    color: #0077b6;
    font-size: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
    padding: 10px;
}
.socials{
    margin-bottom: 10px;
}
@media(min-width: 675px){

    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    .li-nav-items{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px;
    }
    nav ul li{
        padding: 15px;
    }
    main{
        width: 70%;
    }
    aside{
        width: 30%;
    }
    .container-flex{
        flex-direction: row;
    }





}