body{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    background-color: #EEF1FF;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFE7CC;
    height: 120px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.li-nav-items li {
    list-style: none;
    font-weight: bold;
}


.li-nav-items li a {
    text-decoration: none;
    color: #562B08;
}
.create-post-btn{
    background-color: #ff5a5f;
    padding: 6px 20px;
    color: #ffffff;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
}
nav ul li{
        padding: 3px;
}
.header-content h1{
    font-size: 5rem;
    padding: 10px;
    color: #14213d;
}
.li-nav-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{

    width: 100px;
    margin-top: 150px;
}
nav img{
    margin: 4px;
    width: 320PX;
    float: left;
}

.header-content{
    text-align: center;
    padding: 10px;
}
.header-content a{
    text-decoration: none;
    padding: 15px 20px;
    border: 1px solid;
    border-color: black;
    background-color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    color: #333;
}
header > div p{
    margin: 40px;
}
p{
    margin-bottom: 1.5rem;
    color: #14213d;
    line-height: 1.4rem;
}
/*MORE ON CONTENT*/
/* MAIN CONTENT */
.container-flex{
    display: flex;
    flex-direction: column;
    margin: 0 auto; /* center content in container*/
    max-width: 1900px;
}
main{
    padding: 10px;
}
.post-content{
    padding: 10x;
    display: flex;
    flex-direction: column;
}
.post-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #14213d;
}
.post-author{
    margin: 15px;
}
aside{
    padding: 10px;
}
.about-me{
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 1px rgba(0, 0,0,0.3);
}
.about-me img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.post-content h1{
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #14213d;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo-text{
    color: #ffbe0b;
    font-size: 3.5rem;
    font-weight: bold;
}
.logo-text ~ span{
    color: #fff;
}
footer{
    background-color: #003049;
    color: #fff;
}
.about p{
   color: #8d99ae; 
   text-align: center;
}
footer .contact i{
    font-size: 30px;
    padding: 10px;
}
.socials a{
    margin: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #fcbf49;
}
.contact a{
    text-decoration: none;
    color: #0077b6;
    font-size: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 1.5rem;
    padding: 10px;
}
.socials{
    margin-bottom: 10px;
}
@media(min-width: 675px){

    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    .li-nav-items{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-right: 20px;
    }
    nav ul li{
        padding: 15px;
    }
    main{
        width: 70%;
    }
    aside{
        width: 30%;
    }
    .container-flex{
        flex-direction: row;
    }





}